.page_header {
    background-color: rgb(230, 178, 221);
}

.nav_back {
    display: flex;
    justify-content: center;
    font-family: 'futura', 'sans-serif';
    font-size: 15px;
    justify-self: center;
    margin: 40px 0;
}

.nav_back :hover {
    font-size: 18px;
    color: rgb(119, 63, 63);
    font-weight: bold;
}

.line_height {
    line-height: 30px;
}


/* head_page */
[class*="head_page"] {
    padding: 80px 0 0 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.head_page .title {
    color: rgb(39, 39, 114);
}

/* page_section */
.page_section {
    display: flex;
    justify-content: center;
    align-content: center;
    
}

.page_container {
    padding: 40px 40px 0 0;
    width: 350px;
    height: 200px;
}


.sub_title {
    margin: 0 0 30px 0;
    color: rgba(40, 104, 104, 0.925);
}

.list {
    font-size: 20px;
    font-family: 'futura', 'sans-serif';
    padding: 0 0 100px 0;
}

/* page_footer */
.page_footer {
    display: flex;
    justify-content: center;
}

/* profile */
.profile_page {
    position:relative;
    background-color: rgba(245, 206, 245, 0.582);
    padding: 40px;
}

.profile {
    display: flex;
    padding: 80px 0px;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.picture {
    display: flex;
    width: 200px;
    height: 200px;
    border-radius: 150px;
    margin: 0 50px;
}

.profile .description {
    margin: 0 50px;
    width: 500px;
}

/* education */
.education_page {
    position:relative;
    background-color: rgb(240, 240, 240);
    padding: 40px;
}

.img-education {
    display: flex;
    max-width: 100%;
}

.list-education {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 50px 0;
    padding: 30px 80px;
}

.list-education .description {
    width: 500px;
    line-height: 35px;
}


.school_icon {
    width: 180px;
    height: 180px;
    margin: 0 100px 0 0;
}

/* blog */
.blog_page{
    background: rgba(137, 118, 143, 0.664) ;
}


.blog_list {
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.blog_post {
    padding: 10px 30px 10px 50px;
}


.blog_post li {
    display: flex;
    align-items: center;
    margin: 0 20px;
}




[class*="blog_date"] {
    font-family: 'futura', 'sans-serif';
    letter-spacing: 0.2cm;
    line-height: 120px;
    margin: 0 30px 0 0;
}

.blog_link {
    font-family: 'futura', 'sans-serif';
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 0.2cm;
}

.blog_link :hover {
    color: rgb(132, 30, 141);
    font-size: 30px;
    transition: 1.5s;

}



/* blog_post_page */

.head_page_blog .title{
    margin: 50px 0 0 0 ;
    font-size: 35px;
}

.head_page_blog .blog_date {
    font-size: 15px;
}

.blog_article {
    margin: 40px 25px;
    padding: 10px;
    background-color: rgba(231, 213, 230, 0.87);
}

.img-blog-post {
    width: 80%;
}

.blog_article p {
    font-size: 18px;
    font-family:'Times New Roman', Times, serif;
    line-height: 30px;
    letter-spacing: 2px;
}